<!DOCTYPE html>
<html lang="en">
<head>
    <title>Brandager</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}"/>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.maskedinput.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/decimal.js') }}"></script>
    <link rel="stylesheet" hfref="{{ url_for('static', filename='css/ionicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='tabs/style.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {#<link rel="stylesheet" href="{{ url_for('static', filename='js_menu/style.css') }}">#}
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.1/jquery.jgrowl.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.1/jquery.jgrowl.min.js"></script>
    <script src="{{ url_for('static', filename='js/choosen.js') }}"></script>
</head>
<body>
<script type="text/javascript">
    function render_page(url){
        $.ajax({
            type: 'GET',
            url: url,
            data: false,
            contentType: false,
            cache: false,
            processData: false,
            async: true,
            success: function(data) {
                $('#main_page_content').html(data);
            }
        });
    };
    </script>
{#<script type="text/javascript" charset="utf-8">
    namespace = '/cp';
    var socket = io.connect('http://' + document.domain + ':' + 8182 + namespace);
    socket.on('connect', function() {
        socket.emit('connected');
    });
    socket.on('message', function(data) {
        //console.log(data);
        // data = {"header": "новая заявка №1", "text": "операция обмена", "group": "css selectot for delete",
        //         "url": "url_for для переброски по клику"}
        try {
            $.jGrowl(data["text"],
                {
                    header: data["header"],
                    group: data["group"],
                    sticky: true,
                    animateOpen: {
                        height: 'show'},
                    click: function() {
                        render_page(data["url"]);
                        $("div.jGrowl-notification.alert.ui-state-highlight.ui-corner-all." + data["group"]).trigger('jGrowl.close');
                    }
                }
                );
        } catch(e) {console.log(e);}
    });
</script>#}
<script type="text/javascript" charset="utf-8">
    function replaceAll(str, find, replace) {
        return str.replace(new RegExp(find, 'g'), replace);
    }
    var user = {
        'session_key':'{{ request.cookies.get('session_key') }}',
        'id_user': {{ request.cookies.get('id_user') }},
        'role': '{{ request.cookies.get('role') }}'
    };
    namespace = '/brandager';
    domain = '178.159.110.21';
    port = '4995';

    var sock = io.connect('http://' + domain + ':' + port + namespace);
    $(document).ready(function() {
        sock.on('error', function (msg) {
            alert(msg['data']['body'])
        })
        sock.on('connect', function() {
            sock.emit('conn', user);
        });
        sock.on('new_message',function (msg) {
            document.getElementById('chat_'+ msg['data']['id_chat']).remove();
            document.getElementById('chat_'+ msg['data']['id_chat']+'_').remove();
            var text_ = msg['data']['text_message'];
            //alert(parseInt(data['dialogs'][i]['message']['type_message']))
            if (parseInt(msg['data']['type_message']) == 3)
                text_ = 'файл'
            else {
                if (text_.length > 20)
                    text_ = text_.substring(0, 20) + '...'
            }
            if (parseInt(id_chat) == parseInt(msg['data']['id_chat'])) {
                quantity_message[parseInt(msg['data']['id_chat'])] = 0;
                //console.log(msg)
                var who = 'not you';
                if (parseInt(msg['data']['id_sender']) == parseInt(user.id_user))
                    who = 'me'
                insertChat(who, replaceAll(msg['data']['text_message'],'\n', '<br>'), msg['data']['date_message'],0,msg['data']['type_message'],msg['data']['id_message'],parseInt(msg['data']['id_sender']))
            }
            else {
                quantity_message[parseInt(msg['data']['id_chat'])] = quantity_message[parseInt(msg['data']['id_chat'])] + 1;
                var text = msg['data']['text_message'];
                if (parseInt(msg['data']['type_message']) == 3)
                    text = '<img src="http://178.159.110.21:69/'+text+'" width="50px" height="auto"/>\n'
                $.jGrowl(text,
                    {
                        header: 'новое сообщение',
                        group: 'message',
                        sticky: true,
                        animateOpen: {
                            height: 'show'
                        },
                        click: function () {
                            click_div(msg['data']['id_chat'])
                            $("div.jGrowl-notification.alert.ui-state-highlight.ui-corner-all." + 'message').trigger('jGrowl.close');
                        }
                    });
                }
                last_message_chat[parseInt(msg['data']['id_chat'])]=text_;
            var text = '<div class="chat" id="chat_' + msg['data']['id_chat'] + '" onclick="click_div('+  msg['data']['id_chat'] + ')">\n' +
                '            <table>' +
                '                <tr>\n' +
                '                    <td rowspan="2">\n' +
                '                        <img src="http://178.159.110.21:69/' + photos_user['div'+parseInt(msg['data']['id_chat'])] + '" height="50px" width="50px" style="border-radius: 25px">\n' +
                '                    </td>\n' +
                '                    <td>' + msg['data']['title_chat'] + '  новых: ' + quantity_message[parseInt(msg['data']['id_chat'])] + '</td>\n' +
                '                </tr>\n' +
                '                <tr>\n' +
                '                    <td>' + text_ + '</td>\n' +
                '                </tr>\n' +
                '            </table>\n' +
                '        </div><hr id="chat_' + msg['data']['id_chat'] + '_">';
            $("#contacts").prepend(text);
            })

        document.getElementById("search_all")
            .addEventListener("keyup", function(event) {
                event.preventDefault();
                if (event.keyCode === 13) {
                    var text = document.getElementById("search_all").value;
                    if (text != ''){
                        clear_cont()
                        //resetChat();
                         var form_data = new FormData();
                         form_data.append('name',text);
                         //$('#result_find').removeChild();
                           var container = document.getElementById('result_find');
                           while (container.firstChild) {
                               container.removeChild(container.firstChild);
                           }
                         $.ajax({
                             type: 'POST',
                             url: '{{ url_find_a }}/0',
                             data: form_data,
                             contentType: false,
                             cache: false,
                             processData: false,
                             async: true,
                             success: function(data) {
                                 if (data.message != '')
                                    alert(data.message);
                                 //console.log(data)
                                 for (i in data.users){
                                     //console.log(data.users[i]);
                                     {#text = '<div id="res_f_" style="width: 80%;margin-left: 10%;margin-right: 10%;margin-top: 10px; background-color: #43aeca;border-radius: 25px;top: 10px;bottom: 10px;">\n' +
                                         '                    <table width="100%">\n' +
                                         '                        <tr>\n' +
                                         '                            <td rowspan="2"><img src="http://178.159.110.21:69/'+ data.users[i].users[0]['actual_photo']['path_img'] +'" width="50px" style="border-radius: 25px; margin-left: 15px">\n' +
                                         '                            </td>\n' +
                                         '                            <td>'+ data.users[i].users[0].full_name+'</td>\n' +
                                         '                            <td><input type="button" value="to dialog"></td>\n' +
                                         '                        </tr>\n' +
                                         '                        <tr>\n' +
                                         '                            <td>@'+ data.users[i].users[0].login+'</td>\n' +
                                         '                            <td><input type="button" value="create dialog"></td>\n' +
                                         '                        </tr>\n' +
                                         '                    </table>\n' +
                                         '                </div>';#}

                                     if (data.users[i].id_chat == 0){
                                         text = '<div id="res_f_" style="width: 80%;margin-left: 10%;margin-right: 10%;margin-top: 10px; background-color: #43aeca;border-radius: 25px;top: 10px;bottom: 10px;">\n' +
                                         '                    <table width="100%">\n' +
                                         '                        <tr>\n' +
                                         '                            <td rowspan="2"><img src="http://178.159.110.21:69/'+ data.users[i].users[0]['actual_photo']['path_img'] +'" width="50px" style="border-radius: 25px; margin-left: 15px">\n' +
                                         '                            </td>\n' +
                                         '                            <td>'+ data.users[i].users[0].full_name+'</td>\n' +
                                         '                            <td></td>\n' +
                                         '                        </tr>\n' +
                                         '                        <tr>\n' +
                                         '                            <td>@'+ data.users[i].users[0].login+'</td>\n' +
                                         '                            <td><input type="button" value="create dialog" onclick="create_dialog('+data.users[i].users[0].id_user +')"></td>\n' +
                                         '                        </tr>\n' +
                                         '                    </table>\n' +
                                         '                </div>';
                                     }
                                     else{
                                         text = '<div id="res_f_" style="width: 80%;margin-left: 10%;margin-right: 10%;margin-top: 10px; background-color: #43aeca;border-radius: 25px;top: 10px;bottom: 10px;">\n' +
                                         '                    <table width="100%">\n' +
                                         '                        <tr>\n' +
                                         '                            <td rowspan="2"><img src="http://178.159.110.21:69/'+ data.users[i].users[0]['actual_photo']['path_img'] +'" width="50px" style="border-radius: 25px; margin-left: 15px">\n' +
                                         '                            </td>\n' +
                                         '                            <td>'+ data.users[i].users[0].full_name+'</td>\n' +
                                         '                            <td><input type="button" value="to dialog" onclick="click_div('+data.users[i].id_chat+')"></td>\n' +
                                         '                        </tr>\n' +
                                         '                        <tr>\n' +
                                         '                            <td>@'+ data.users[i].users[0].login+'</td>\n' +
                                         '                            <td></td>\n' +
                                         '                        </tr>\n' +
                                         '                    </table>\n' +
                                         '                </div>';
                                     }
                                     $('#result_find').append(text)
                                 }
                                 {#location.href = '{{ url_for('providers') }}'#}
                             },
        });

                    }
                }
            });
             document.getElementById("mytext")
            .addEventListener("keydown", function(event) {
                event.preventDefault();
           if(event.ctrlKey && event.keyCode == 13){
               ss();
           }
        });


        });
    var me = {};
    me.avatar = "https://lh6.googleusercontent.com/-lr2nyjhhjXw/AAAAAAAAAAI/AAAAAAAARmE/MdtfUmC0M4s/photo.jpg?sz=48";
    var you = {};
    you.avatar = "https://a11.t26.net/taringa/avatares/9/1/2/F/7/8/Demon_King1/48x48_5C5.jpg";

    function formatAMPM(date) {
        var hours = date.getHours();
        var minutes = date.getMinutes();
        var ampm = hours >= 12 ? 'PM' : 'AM';
        hours = hours % 12;
        hours = hours ? hours : 12; // the hour '0' should be '12'
        minutes = minutes < 10 ? '0'+minutes : minutes;
        var strTime = hours + ':' + minutes + ' ' + ampm;
        return strTime;
    }
    //-- No use time. It is a javaScript effect.

    function insertChat(who, text, date_, time,type=1,id_message,id_sender){
        a = typeof time !== 'undefined' ? time : 0;
        var control = "";
        //alert(date_);
        var d = date;
        var date = formatAMPM(new Date(date_));
        if (parseInt(type) != 1)
            text = '<img src="http://178.159.110.21:69/'+text+'" width="100px" height="auto"/>\n';
        if (who == "me"){
            control = '<li style="width:100%" id="mes_'+id_message+'">' +
                '<div class="msj macro">' +
                '<div class="avatar"><img class="img-circle" style="width:100%;" src="http://178.159.110.21:69/{{ request.cookies.get('photo') }}" /></div>' +
                '<div class="text text-l">' +
                '<p>'+ text +'</p>' +
                '<p><small>'+date+'</small></p>' +
                '</div>' +
                '</div>' +
                '</li>';
        }else{
            control = '<li style="width:100%;" id="mes_'+id_message+'">' +
            '<div class="msj-rta macro">' +
            '<div class="text text-r">' +
            '<p>'+text+'</p>' +
            '<p><small>'+date+'</small></p>' +
            '</div>' +
            '<div class="avatar" style="padding:0px 0px 0px 10px !important"><img class="img-circle" style="width:100%;" src="http://178.159.110.21:69/' + photos_user[id_sender] + '"" /></div>' +
            '</li>';
    }
    $("#content").append(control);
    $("#content").animate({ scrollTop: $(document).height()*1000 }, "fast");
}
    var id_chat = 0;
    var page = 0;
    function ss() {
        text  = document.getElementById('mytext').value;
        //alert(text)
        if (text !== "") {
            document.getElementById('mytext').value = '';
            data = {
                'session_key': user.session_key,
                'id_user': user.id_user,
                'role': user.role,
                'message': {
                    'id_chat': id_chat,
                    'text_message': text,
                    'type_message': 1
                }
            };
            sock.emit('send_message', data);
        }
    }
    $(".mytext").on("keyup", function(e){
    if (e.which == 13){
        var text = $(this).val();
        if (text !== "") {
            ss()

        }
    }
});
    var photos_user = {};
    var quantity_message = {};
    var title_chat_ = {};
    var last_message_chat = {};
    var id_last_message_in_page = 0;
    var height_ch = 0;
    window.onload = function () {
        {#alert('{{ url_for('dialogs') }}');#}
         $.ajax({
             type: 'GET',
             url: '{{ url_for('dialogs') }}',
             contentType: false,
             cache: false,
             processData: false,
             async: true,
             success: function(data) {
                 if (data.message != '')
                     alert(data.message);
                 else{
                     //console.log(data);
                     for (i in data['dialogs']) {
                         var text_ = data['dialogs'][i]['message']['text_message'];
                         //alert(parseInt(data['dialogs'][i]['message']['type_message']))
                         if (parseInt(data['dialogs'][i]['message']['type_message']) == 3)
                             text_ = 'файл'
                         else{
                             if (text_.length > 20)
                                 text_ = text_.substring(0,20)+'...'
                         }
                         for (j in data['dialogs'][i]['users'])
                             photos_user[parseInt(data['dialogs'][i]['users'][j]['id_user'])] = data['dialogs'][i]['users'][j]['actual_photo']['path_img'];
                         photos_user['div'+parseInt(data['dialogs'][i]['id_chat'])] = data['dialogs'][i]['users'][0]['actual_photo']['path_img'];
                         quantity_message[parseInt(data['dialogs'][i]['id_chat'])] = data['dialogs'][i]['quantity_new_message']
                         title_chat_[parseInt(data['dialogs'][i]['id_chat'])] = data['dialogs'][i]['title_chat']
                         last_message_chat[parseInt(data['dialogs'][i]['id_chat'])] = text_;
                         var text = '<div class="chat" id="chat_' + data['dialogs'][i]['id_chat'] + '" onclick="click_div('+ data['dialogs'][i]['id_chat'] + ')">\n' +
                             '            <table>' +
                             '                <tr>\n' +
                             '                    <td rowspan="2">\n' +
                             '                        <img src="http://178.159.110.21:69/' + data['dialogs'][i]['users'][0]['actual_photo']['path_img'] + '" height="50px" width="50px" style="border-radius: 25px">\n' +
                             '                    </td>\n' +
                             '                    <td>' + data['dialogs'][i]['title_chat'] + '  новых: ' + data['dialogs'][i]['quantity_new_message'] + '</td>\n' +
                             '                </tr>\n' +
                             '                <tr>\n' +
                             '                    <td>' + text_ + '</td>\n' +
                             '                </tr>\n' +
                             '            </table>\n' +
                             '        </div><hr id="chat_' + data['dialogs'][i]['id_chat'] + '_">';
                                $("#contacts").append(text);
                                //alert($('ul#content li').length);
                    }
                 }
                 }
         });

    };

    function insertChatPrep(who, text, date_, time, type_=1,id_message,id_sender){
        a = typeof time !== 'undefined' ? time : 0;
        var control = "";
        //alert(date_);
        // var d = date;
        var date = formatAMPM(new Date(date_));
        var text_ = text;
        if (parseInt(type_) == 3) {
            text_ = '<img src="http://178.159.110.21:69/' + text + '" width="100px" height="auto"/>\n'
        }

    if (who == "me"){
        control = '<li style="width:100%" id="mes_'+id_message+'">' +
            '<div class="msj macro">' +
            '<div class="avatar"><img class="img-circle" style="width:100%;" src="http://178.159.110.21:69/{{ request.cookies.get('photo') }}" /></div>' +
            '<div class="text text-l">' +
            '<p>'+ text +'</p>' +
            '<p><small>'+date+'</small></p>' +
            '</div>' +
            '</div>' +
            '</li>';
        }else{
        control = '<li style="width:100%;"id="mes_'+id_message+'">' +
            '<div class="msj-rta macro">' +
            '<div class="text text-r">' +
            '<p>'+text_+'</p>' +
            '<p><small>'+date+'</small></p>' +
            '</div>' +
            '<div class="avatar" style="padding:0px 0px 0px 10px !important"><img class="img-circle" style="width:100%;" src="http://178.159.110.21:69/'+photos_user[id_sender]+'" /></div>' +
            '</li>';
    }
    id_last_message_in_page = id_message;

    $("#content").prepend(control);
    $("#content").animate({ scrollTop: $(document).height()*1000 }, "fast");
}

    function resetChat(){
        //$("#content").empty();
        var container = document.getElementById('dialog');
        while (container.firstChild) {
            container.removeChild(container.firstChild);
        }

        $('#dialog').append('<ul id="content" class="content" onscroll="scrollUp()"></ul>')
    }

    function click_div(id_div){
        clear_cont()
        try {
            document.getElementById('mytext').value = '';
        }catch (err){}
        //alert('fuck');
        resetChat();
        page = 0;
        id_chat = parseInt(id_div);
        quantity_message[parseInt(id_div)] = 0;
        var d = user;
        d['id_chat'] = id_chat
        sock.emit('entry_chat',d);
        try{
        var container = document.getElementById('chat_'+parseInt(id_div));
        while (container.firstChild) {
            container.removeChild(container.firstChild);
        }
        //document.getElementById('chat_'+parseInt(id_div)).remove();
        var text =
            '            <table>' +
            '                <tr>\n' +
            '                    <td rowspan="2">\n' +
            '                        <img src="http://178.159.110.21:69/' + photos_user['div'+parseInt(id_div)]+ '" height="50px" width="50px" style="border-radius: 25px">\n' +
            '                    </td>\n' +
            '                    <td>' + title_chat_[parseInt(id_div)] + '  новых: ' + quantity_message[parseInt(id_div)] + '</td>\n' +
            '                </tr>\n' +
            '                <tr>\n' +
            '                    <td>' + last_message_chat[parseInt(id_div)] + '</td>\n' +
            '                </tr>\n' +
            '            </table>\n';
        container.innerHTML = text;
        }
        catch (err){
            var text = '<div class="chat" id="chat_' + id_div + '" onclick="click_div('+  id_div + ')">\n' +
                '            <table>' +
                '                <tr>\n' +
                '                    <td rowspan="2">\n' +
                '                        <img src="http://178.159.110.21:69/' + photos_user['div'+id_div] + '" height="50px" width="50px" style="border-radius: 25px">\n' +
                '                    </td>\n' +
                '                    <td>' + title_chat_[parseInt(id_div)] + '  новых: ' + quantity_message[parseInt(id_div)] + '</td>\n' +
                '                </tr>\n' +
                '                <tr>\n' +
                '                    <td>' + last_message_chat[parseInt(id_div)] + '</td>\n' +
                '                </tr>\n' +
                '            </table>\n' +
                '        </div><hr id="chat_' + id_div + '_">';
            $("#contacts").prepend(text);


        }

        container = document.getElementById('result_find');
        while (container.firstChild) {
            container.removeChild(container.firstChild);
        }
        //$("#contacts").prepend(text);
        url = '{{ url_mess }}/'+id_chat+'/'+page;
        $.ajax({
            type: 'GET',
            url: url,
            contentType: false,
            cache: false,
            processData: false,
            async: true,
            success: function(data) {
                if (data.message != '')
                    alert(data.message);
                else{
                    //console.log(data);
                    for(var i=0; i<data.messages.length; i++ ){
                        var who = 'not you';
                        if (parseInt(data.messages[i]['id_sender']) == parseInt(user.id_user))
                            who = 'me';
                        insertChatPrep(who,data.messages[i]['text_message'],data.messages[i]['date_message'],0, data.messages[i]['type_message'],data.messages[i]['id_message'],parseInt(data.messages[i]['id_sender']));
                    }
                }
                }
        });
        try {
            $('#block_text').remove();
        } catch (err) {}
        text = '<div id="block_text">\n' +
            '                <div style="margin-left:25%;width: 50%;border-radius: 5px;margin-top:5px;float:right;background:whitesmoke;display: flex;bottom: 5px; position: absolute" onclick="">\n' +
            '                    <textarea style="height: 50px; width: 80%;resize: none" id="mytext"></textarea>\n' +
            '                    <input type="button" style="height: 50px; width: 20%" value="отправить" onclick="ss()">\n' +
            '                </div>\n' +
            '            </div>';
        $('#dialog').append(text);
    }
    var block = false;

    $('.content').on('scroll', function () {
        alert('scroll')
        if($('#content').height() + $('#content').scrollHeight <= $('#content').height() && !block){
            block = true;
            page+=1;
            url = '{{ url_mess }}/'+id_chat+'/'+page;
            $.ajax({
                type: 'GET',
                url: url,
                contentType: false,
                cache: false,
                processData: false,
                async: true,
                success: function(data) {
                    if (data.message != '')
                        alert(data.message);
                    else{
                        //console.log(data);
                        for(var i=0; i<data.messages.length; i++ ){
                            var who = 'not you';
                            if (parseInt(data.messages[i]['id_sender']) == parseInt(user.id_user))
                                who = 'me'
                            insertChatPrep(who,data.messages[i]['text_message'],data.messages[i]['date_message'],0,data.messages[i]['type_message'],parseInt(data.messages[i]['id_sender']))
                        }
                    }

                //else
                //    alert('ok')


                {#//location.href = '{{ url_for('providers') }}'#}
            }
        });
            block = false;
        }
    }
    );

    function scrollUp() {
        if ($('#content').scrollTop() == 0){
            page +=1;
            url = '{{ url_mess }}/'+id_chat+'/'+page;
            $.ajax({
            type: 'GET',
            url: url,
            contentType: false,
            cache: false,
            processData: false,
            async: true,
            success: function(data) {
                if (data.message != '') {
                    alert(data.message);
                    page -= 1;
                }
                else{
                    //console.log(data);
                    var height = 0;

                    for(var i=0; i<data.messages.length; i++ ){
                        var who = 'not you';
                        if (parseInt(data.messages[i]['id_sender']) == parseInt(user.id_user))
                            who = 'me';
                        insertChatPrep(who,data.messages[i]['text_message'],data.messages[i]['date_message'],0, data.messages[i]['type_message'],data.messages[i]['id_message'],parseInt(data.messages[i]['id_sender']));
                        height += $('#mes_'+data.messages[i]['id_message']).height();
                    }
                    $("#content").animate({ scrollTop: height }, "fast");

                }
                }
        });
        }
    }

    function create_dialog(id_user) {
        url = '{{ url_create_d }}/'+id_user;
        //alert(url)
         $.ajax({
             type: 'GET',
             url: url,
             contentType: false,
             cache: false,
             processData: false,
             async: true,
             success: function(data) {
                 if(data.message != '') {
                     alert(data.message);
                 }
                 if(JSON.stringify(data.data) != "{}"){
                     console.log(data.data)
                     //photos_user[data.data.users[0].id_user] =  data.data.users[0].actual_photo.path_img;
                     //http://178.159.110.21:69/messenger/file/photos_profile_user/_default-inc.png
                     if (parseInt(data.data.users[0].id_user) != parseInt(user.id_user)) {
                         photos_user[parseInt(data.data.users[0].id_user)] = '/messenger/file/photos_profile_user/_default-inc.png';
                     }
                     else {
                         photos_user[parseInt(data.data.users[0].id_user)] = '/messenger/file/photos_profile_user/_default-inc.png';
                     }
                     photos_user['div'+data.data.id_chat] = '/messenger/file/photos_profile_user/_default-inc.png';

                     quantity_message[data.data.id_chat] = 0;
                     last_message_chat[data.data.id_chat] = '';
                     title_chat_[data.data.id_chat] = data.data.title_chat;
                     //document.getElementById('chat_'+parseInt(id_div)).remove();

                     click_div(data.data.id_chat);
                 }
                 }
         });


    }

    $("#search_all").keyup(function(event){
    if(event.keyCode == 13){
       alert('click')
    }
});
    function key_enter_search_all(event) {
        if(event.keyCode == 13){
       alert('click')
    }

    }

</script>
<style>


    #left_menu{
        width: 20%;
        background-color: #73b5cc;

    }
    .chat{
        background-color: #73b5cc;
    }
    .chat:hover {background-color: #5b98af;}

    .mytext{
        border:0;padding:10px;background:whitesmoke;
    }
    .text{
        width:75%;display:flex;flex-direction:column;
    }
    .text > p:first-of-type{
        width:100%;margin-top:0;margin-bottom:auto;line-height: 13px;font-size: 12px;
    }
    .text > p:last-of-type{
        width:100%;text-align:right;color:silver;margin-bottom:-7px;margin-top:auto;
    }
    .text-l{
        float:left;padding-right:10px;
    }
    .text-r{
        float:right;padding-left:10px;
    }
    .avatar{
        display:flex;
        justify-content:center;
        align-items:center;
        width:25px;
        float:left;
        padding-right:10px;
    }
    .macro{
        margin-top:5px;width:85%;border-radius:5px;padding:5px;display:flex;
    }
    .msj-rta{
        float:right;background:whitesmoke;margin-right: 10px;
    }
    .msj{
        float:left;background:white;margin-left: 10px;
    }
    .frame{
        /*background:#e0e0de;*/
        height:450px;
        overflow:hidden;
        padding:0;
    }
    .frame > div:last-of-type{
        position:absolute;bottom:5px;width:100%;display:flex;
    }
    ul#content:hover{
        overflow: scroll;
    }
    ul#content {
        width:60%;
        list-style-type: none;
        padding:1px;
        position:absolute;
        bottom:70px;
        display:flex;
        margin-left:0 ;
        flex-direction: column;
        overflow:hidden;
        max-height: 80%;
        margin-left: 25%;
        color: black;


    }
    .content{

        width:60%;
        list-style-type: none;
        padding:1px;
        position:absolute;
        bottom:70px;
        display:flex;

        flex-direction: column;

        max-height: 80%;
        margin-left: 25%;
    }
    .msj:before{
        width: 0;
        height: 0;
        content:"";
        top:-5px;
        left:-14px;
        position:relative;
        border-style: solid;
        border-width: 0 13px 13px 0;
        border-color: transparent #ffffff transparent transparent;
    }
    .msj-rta:after{
        width: 0;
        height: 0;
        content:"";
        top:-5px;
        left:14px;
        position:relative;
        border-style: solid;
        border-width: 13px 13px 0 0;
        border-color: whitesmoke transparent transparent transparent;
    }
    input:focus{
        outline: none;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #d4d4d4;
    }
    ::-moz-placeholder { /* Firefox 19+ */
        color: #d4d4d4;
    }
    :-ms-input-placeholder { /* IE 10+ */
        color: #d4d4d4;
    }
    :-moz-placeholder { /* Firefox 18- */
        color: #d4d4d4;
    }
</style>

<script>
    function clear_cont() {
        var container = document.getElementById('cont');
        while (container.firstChild) {
            container.removeChild(container.firstChild);
        }
        var text = '<div id="chat">\n' +
            '\n' +
            '                </div>\n' +
            '                 <div id="result_find" style="margin-left:25%;width: 70%;background-color: #3f9db8; border-radius: 20px" >\n' +
            '                 </div>\n' +
            '                <div id="dialog">\n' +
            '                    <ul id="content" class="content" onscroll="scrollUp()"></ul>\n' +
            '        </div>\n' +
            '\n' +
            '            </div>'
        $('#cont').append(text)

    }
    var users = {};
    function create_chat(){
        clear_cont()
        $.ajax({
             type: 'GET',
             url: '{{ url_for('get_contacts') }}',
             contentType: false,
             cache: false,
             processData: false,
             async: true,
             success: function(data) {
                 if (data.message != '')
                     alert(data.message);
                 var len = Math.round((data.contacts.length));
                 //alert(len)

                 $('#chat').append('название чата<input type="text" name="title_chat" id="title_chat" ><input type="button" onclick="create_chat_()" value="создать"><br>\n' +
                     '                    <div id="users_chat"></div>\n<hr>' +
                     {#'                    <select class="chosen" onchange="add_to_chat_from_select()"></select>\n ' +#}
                     '                    <div id="users"></div>');
                 $('.chosen').append('<option value="0" >----</option>')
                 for(var i=0; i < len; i ++){

                        //console.log(data.contacts[i].users[0])
                     var id_user = data.contacts[i].users[0].id_user;
                     var name = data.contacts[i].users[0].full_name;
                        text_tmp = '<div id="user'+id_user+'" onclick="add_to_chat('+id_user+')">\n' +
            '        <div id="name'+id_user+'">'+name+'</div>\n' +
            '    </div>'
                     $('#users').append(text_tmp);
                     $('.chosen').append('<option id="sel'+id_user+' "value="'+id_user+'" >'+name+'</option>')


                     }
                    $('#chat').append('<script type="text/javascript"> $(".chosen").chosen();   \<\/script>');

                 }
         });

    }
    function add_to_chat_from_select() {
       //alert(document.getElementsByClassName('chosen')[0].value);

       add_to_chat(document.getElementsByClassName('chosen')[0].value)

    }
    function add_to_chat(id_user){
        //alert(id_user)
        var element = document.getElementById('name'+id_user);
        name = element.textContent;
        text = '<div id="user_in_chat'+id_user+'" onclick="remove_from_chat('+id_user+')">\n' +
            '    <div id="name_'+id_user+'">'+name+'</div>\n' +
            '</div>';
        users[id_user] = '';
        $("#users_chat").append(text);
        $("#user"+id_user).remove();
        $('#sel'+id_user).remove()
        var selectobject=document.getElementsByClassName('chosen');
        for (var i=0; i<selectobject.length; i++){
            if (parseInt(selectobject[i].value) == parseInt(id_user))
                alert(i);
                selectobject[i].remove();
        }

        //document.getElementById("sel"+id_user).remove();
        //$("#sel"+id_user).remove();

    }
    function remove_from_chat(id_user) {
        var element = document.getElementById('name_'+id_user);
        name = element.textContent;
        text = '<div id="user'+id_user+'" onclick="add_to_chat('+id_user+')">\n' +
            '        <div id="name'+id_user+'">'+name+'</div>\n' +
            '    </div>'
        $("#users").append(text);
        $("#user_in_chat"+id_user).remove();
        delete users[id_user]

    }

    function create_chat_(){
        //Object.keys(users)

        var form_data = new FormData();
        form_data.append('list_users' ,Object.keys(users));
        form_data.append('title_chat',document.getElementById('title_chat').value);
        //$('#result_find').removeChild();
        if (document.getElementsByName('title_chat') != '') {
            $.ajax({
                type: 'POST',
                url: '{{ url_for('create_chat') }}',
                data: form_data,
                contentType: false,
                cache: false,
                processData: false,
                async: true,
                success: function (data) {
                    if (data.message != '')
                        alert(data.message);
                    else{
                        us = user;
                        us['id_chat'] = data.chat.id_chat;
                        sock.emit('add_to_chat',us);
                        var id_div = data.chat.id_chat;
                        quantity_message[parseInt(id_div)] = 0;
                        console.log(data);
                        photos_user['div'+id_div] = 'messenger/file/photos_profile_user/_default-inc.png';
                        last_message_chat[parseInt(id_div)] = 'создан чат';
                        var text = '<div class="chat" id="chat_' + id_div + '" onclick="click_div('+  id_div + ')">\n' +
                            '            <table>' +
                            '                <tr>\n' +
                            '                    <td rowspan="2">\n' +
                            '                        <img src="http://178.159.110.21:69/' + photos_user['div'+id_div] + '" height="50px" width="50px" style="border-radius: 25px">\n' +
                            '                    </td>\n' +
                            '                    <td>' + title_chat_[parseInt(id_div)] + '  новых: ' + quantity_message[parseInt(id_div)] + '</td>\n' +
                            '                </tr>\n' +
                            '                <tr>\n' +
                            '                    <td>' + last_message_chat[parseInt(id_div)] + '</td>\n' +
                            '                </tr>\n' +
                            '            </table>\n' +
                            '        </div><hr id="chat_' + id_div + '_">';
                        $("#contacts").prepend(text);
                        click_div(id_div)

                    }
                }
            });
        }

    }
</script>

<style>
    #chat{
        margin-left: 25%;
    }
</style>


<div id="wrapper">
    <span>
        <div style="text-align: center"> {% block header %}<br><font size="18" color="#f0ffff" face="Bedrock" >Brandeger </font>{% endblock %}</div>
        <div id="find"><input type="search" id="search_all" onkeyup="key_enter_search_all(this)"><a href="{{ url_for('sign_out') }}"><input type="button" value="выйти"></a> </div>
        <div id="main_page_content">
            <div id="left_menu" style="max-height: 80%">
                <div id="account">
                    <table style="color: black">
                <tr>
                    <td rowspan="2">
                        <img src="http://178.159.110.21:69/{{ request.cookies.get('photo') }}" height="50px" width="50px" style="border-radius:25px">
                    </td>
                    <td>{{ request.cookies.get('full_name') }}</td>
                </tr>
                <tr>
                    <td>#{{ request.cookies.get('login') }}</td>
                </tr>
            </table>
                </div>
                <hr>
                <div style="color:#000;">
                    contacts <button onclick="create_chat()">+</button><br>
                    <input type="search" style="width: 100%">
                </div>
                <div id="contacts" style="color:#000;overflow: scroll;max-height: 500px;">
                </div>
            </div>
            <div id="cont">
                <div id="chat">
                </div>
                 <div id="result_find" style="margin-left:25%;width: 70%;background-color: #3f9db8; border-radius: 20px" >
                 </div>
                <div id="dialog">
                    <ul id="content" class="content" onscroll="scrollUp()"></ul>
                    <textarea id="mytext" style="visibility: hidden"></textarea>
        </div>

            </div>


        </div>
    </span>
</div>
<script src="{{ url_for('static', filename='js_menu/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='js_menu/index.js') }}"></script>
</body>
</html>
