<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='js_menu/style.css') }}">
	<meta charset="UTF-8">
	<title>вход</title>
	<link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.min.css'>
	{#<link rel="icon" href="http://vladmaxi.net/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="http://vladmaxi.net/favicon.ico" type="image/x-icon">#}
</head>

<body>
{#<div style="text-align: left;"><a style="text-decoration: none" href="{{ url_for('language',lan='ru') }}"><input  type="button" value="ru"></a><a href="{{ url_for('language',lan='en') }}" style="text-decoration: none"><input type="button" value="en"></a></div><br>#}

{% if message %}
  <div style="text-align: center;"><h1 style="color: red">{{message}}</h1></div>
{% endif %}
<div class="box">
  <nav id="tabs" class="tabs">
    <a id="tabLogin" class="iconLogin {% if is_registration == False %} active {% endif %} blueBox" title="Войти"></a>
    <a id="tabRegister" class="iconRegister {% if is_registration == True %} active {% endif %} greenBox" title="Регистрация"></a>
    {#<a id="tabForgot" class="iconForgot redBox" title="Забыл пароль?"></a>#}
  </nav>

  <div class="containerWrapper">

    <!-- login container -->
    <div id="containerLogin" class="tabContainer active">
      <form action="{{url_for('sign_in')}}" method="post" >
      <h2 class="loginTitle">{#{{ js[request.cookies.get('language')]["Authorization"] }}#}Authorization</h2>
      <div class="loginContent">
        <div class="inputWrapper">
          <input type="text" placeholder="{#{{ js[request.cookies.get('language')]["login"] }}#}login" name="login"  pattern="[A-Za-z0-9]{5,}" required>
        </div>
        <div class="inputWrapper">
          <input type="password" placeholder="{#{{ js[request.cookies.get('language')]["Password"] }}#}Password" name="password"  pattern="[A-Za-z0-9]{5,}" required>
        </div>
      </div>
      <button class="blueBox"><span class="iconLogin"></span> {#{{ js[request.cookies.get('language')]["Sign_in"] }}#} Sign_in</button>
      <div class="clear"></div>
    </form>
    </div>

  <!-- register container -->
  <div id="containerRegister" class="tabContainer" style="height: 500px">
      <form action="{{ url_for('registration') }}" method="post">
        <h2 class="loginTitle">Регистрация<button class="greenBox">{#<span class="iconRegister"></span>#} Зарегистрироваться</button></h2>
        <div class="registerContent">
          <div class="inputWrapper">
            <input type="text" placeholder="Ваше имя" name="name" required/>
          </div>
            <div class="loginContent">
        <div class="inputWrapper">
          <input type="text" placeholder="{#{{ js[request.cookies.get('language')]["login"] }}#}login" name="login"  pattern="[A-Za-z0-9]{5,}" required>
        </div></div>
          <div class="inputWrapper">
            <input type="password" placeholder="password" name="password" pattern="[A-Za-z0-9]{5,}" required/>
          </div>
        </div>

        <div class="clear"></div>
      </form>
    </div>
    <div class="clear"></div>

    <!-- forgot container -->
    <div id="containerForgot" class="tabContainer">
      <form action="do some action here!">
        <h2 class="loginTitle">Восстановления пароля</h2>
        <div class="loginContent">
          <div class="inputWrapper">
            <input type="text" placeholder="Ваш email" />
          </div>
          <div class="placeholder"></div>
        </div>
        <button class="redBox"><span class="iconForgot"></span> Восстановить</button>
        <div class="clear"></div>
      </form>
    </div>
    <div class="clear"></div>
  </div>
</div>
 <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>
</html>